body{
    background-image: url("barbershop.png");
    background-repeat: no-repeat;
    background-size: 1382px;
   
}
.textdiv{
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
.loginbtn{
height: 100%;
}
.regbtn{
height: 100%;
}
.loginDD{
    color: rgb(156, 143, 143);
    width: 100vw;
    height: 100vh;
    background-color: white;
    /*background: rgba(255, 255, 255, 0.8);*/
    z-index: 100;
    /* display: none; */
    
}
.xbtn{
    float: right;
    font-size: 30px;
    padding-right:50px ;
    color: black;
}
.hidediv{
    display: none;
}
.userlogin{
    color: black;
    /* padding: 30px; */
    margin-top: 30px;
    text-align: center;
    border-right: black 2px solid;
}
.barberlogin{
    color: black;
    margin-top: 50px;
    text-align: center;
   
}
.registerDD{
    color: rgb(156, 143, 143);
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
    display: none;
}
.userreg{
    color: black;
    margin-top: 150px;
    text-align: center;
    border-right: black 2px solid;
    
}
.barberreg{
    color: black;
    margin-top: 150px;
    text-align: center;
   
}

.nav-wrapper{
    border-bottom: black 3px solid;
}
nav a {
    color: black;
    font-size: xx-large;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: white;
}